<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Information about {{state.name}}</h1>
    <hr>
    <table>
        <thead>
            <th>name</th>
            <th>population</th>
            <th>area</th>
        </thead>
        <tbody>
            <tr>
                <td>{{state.name}}</td>
                <td>{{state.population}}</td>
                <td>{{state.area}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>