<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Movies</h1>
    <form action="/movies/create" method="post">


        <label for=""> Title :</label>
        <input name="title">
        <br>
        <label for=""> Release Year :</label>
        <input type="date" name="year">
        <br>
        <label for=""> genre :</label>
        <input name="genre">
        <br>
        <label for=""> rating :</label>
        <input type="number" name="rating" max=10>
        <br>
        <button>Create a movie</button>


    </form>
</body>
</html>